<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.evolution.easteregg"
    android:sharedUserId="android.uid.system"
    android:versionCode="1"
    android:versionName="R">

    <uses-sdk
        android:minSdkVersion="28"
        android:targetSdkVersion="29" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_title"
        android:theme="@style/AppTheme">
	
        <provider
            android:name="androidx.startup.InitializationProvider" 
            android:authorities="${applicationId}.androidx-startup"
            tools:replace="android:authorities"/>

            <activity
		android:name=".EasterEgg"
		android:exported="true"
		android:label="EvoEgg"
		android:hardwareAccelerated="true"
		android:launchMode="singleInstance"
		android:excludeFromRecents="true">
		<intent-filter>
			<action android:name="android.intent.action.MAIN" />
			<category android:name="android.intent.category.DEFAULT" />
		</intent-filter>
	</activity>
     </application>
</manifest>
